---
layout: default
title: Categories
permalink: /categories
---
<h1>{{ page.title }}</h1>

<ul>
    {% for category in site.categories %}
    {% assign cat = category | first %}
        <h2  id="#{{ cat | slugize }}"> {{ cat }}</h2>
        <ul>
            {% for post in site.categories.[cat] %}
            <li>
               <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>  {{ post.date |  date_to_string: "ordinal", "US" }}  </h2>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>

<!--    <div id="archives">-->
<!--        {% for category in site.categories %}-->
<!--        <div class="archive-group">-->
<!--            {% capture category_name %}{{ category | first }}{% endcapture %}-->
<!--            <div id="#{{ category_name | slugize }}"></div>-->
<!--            <h3 class="category-head">{{ category_name }}</h3>-->
<!--            <a name="{{ category_name | slugize }}"></a>-->
<!--            <ul>-->
<!--                {% for post in site.categories[category_name] %}-->
<!--                -->
<!--                <article class="archive-item">-->
<!--                    <h4>-->
<!--                        <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>-->
<!--                    </h4>-->
<!--                </article>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
