<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
<!--        <div class="sidebar">-->
<!--            <p>Your sidebar text goes here.</p>-->
<!--          {{ content_for_sidebar }}-->
<!--        </div>-->
        <div class="wrapper">
          {{ content }}
        </div>
<!--        <div class="ad-block">-->
<!--          <img src="/assets/img/for_sale.png" alt="Advertisement">-->
<!--          <p>Your advertisement text goes here.</p>-->
<!--          {{ content_for_ad_block }}-->
<!--        </div>-->
    </main>

    {%- include footer.html -%}

  </body>

</html>
